* {
    box-sizing: border-box;
}

body {
    font-family: 'Unica One', cursive;
}

header {
    font-size: 3em;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
}